<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
    <h1 class="col-6 offset-3">Log In For Airbnb Clone</h1>
    <div class="col-6 offset-3">
        <form action="/login" method="post">
            <div class="mb-3">
                <label class="form-label" for="username">Username :</label><br>
                <input required class="form-control" type="text" id="username" name="username" placeholder="Enter Your Name" >
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password :</label><br>
                <input required class="form-control" type="password" id="password" name="password" placeholder="Enter Your Name" >
            </div>
            <button class="btn btn-success">Log In</button>
        </form>
    </div>
</div>